.places h1 {
    font-size: 30px;
    align-items: flex-start;
    margin: 10px;
}

.articles{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
}

